# Set by Bundler on Gem Initialization
/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# Gem
*.gem

# Environment Variables
.env
nohup.out

# Certificates
*.pem
*.cert

# Mac File System Artifacts
.DS_Store

# Node.js Dependencies
node_modules

# ** Content **
# *.md

# Build Products
static
