@base-page: {
    margin: 0em;
    font-family: 'Lato', sans-serif;
    background-color: rgb(240, 240, 240);
};

@center-vert: {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
};

@full-page: {
    width: 100vw;
    height: 100vh;
};

@fw300: {
    font-weight: 300;
};

@std-padding: {
    padding: 1em;
};

@std-margin: {
    margin: 0em;
};