@anim-bg-color: {
    transition: background-color 0.35s;
};

@center-vert: {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
};

@fs10: {
    font-size: 10em;
};

@fw300: {
    font-weight: 300;
};

@full-bar-dark: {
    background-color: rgba(0, 0, 0, 0.9);
    box-sizing: border-box;
    color: white;
    width: 100vw;
};

@full-bar-light: {
    background-color: rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    width: 100vw;
};

@full-page: {
    width: 100vw;
    height: 100vh;
};

@link-ad: {
    color: white;
    text-decoration: none;
};

@link-al: {
    color: black;
    text-decoration: none;
};

@spread-vert: {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
};

@std-padding: {
    padding: 1em;
};

@std-margin: {
    margin: 0em;
};

.base-page {
    margin: 0em;
    font-family: 'Lato', sans-serif;
    background-color: rgb(240, 240, 240);

    &::-webkit-scrollbar {
        display: none;
    }
};

.main-icon {
    @fs10();
    padding: 0em;
}

.page-nav-button {
    padding: 0em;
    
    a {
        @anim-bg-color();
        @full-bar-light();
        @std-margin();
        @std-padding();
        bottom: 0vh;
        display: block;
        text-align: center;
    }

    a:hover {
        @anim-bg-color();
        @full-bar-dark();
        @link-ad();
    }
}

.index-section {
    @full-page();
    @spread-vert();
    position: absolute;

    p:nth-child(2) {
        .main-icon;
    }

    p:nth-child(4) {
        max-width: 80vw;
    }

    p:last-child {
        .page-nav-button;
    }
}

.return-top {
    p:first-child {
        .page-nav-button;
    }
}