@base-page: {
    margin: 0px;
    font-family: 'Lato', sans-serif;
    background-color: rgb(240, 240, 240);
};

@center-vert: {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
};

@fw300: {
    font-weight: 300;
};

@full-page: {
    width: 100vw;
    height: 100vh;
};