html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    font-family: Ubuntu, sans-serif;
}

.landing-content {
    padding: 24px;
    
    &.hidden {
        opacity: 0;
        transition: opacity 0.5s;
    }

    &.shown {
        opacity: 1;
        transition: opacity 0.5s;
    }
}

