@import '_common';

html, body {
    .base-page;
    @center-vert();
}

h1 {
    @fw300();
}

p {
    .std-mp;
}

a {
    outline: transparent;
    @link-content();
}

#part-0 {
    .index-section;

    ul:first-child {
        .std-mp;
        @full-bar-dark();

        a {
            @link-ad();
        }

        li {
            display: block;
            float: right;
            padding-left: 1em;
        }

        li:first-child {
            float: left;
            padding-left: 0em;
            text-align: center;
            width: 24px;
        }
    }

    p:nth-child(4) {
        @std-content();
        text-align: center;
    }
}

#part-1 {
    .index-section;
    .return-previous;

    p:nth-child(4) {
        @std-content();
    }
}

#part-2 {
    .index-section;
    .return-previous;

    ul,
    p:nth-child(4),
    p:nth-child(5),
    p:nth-child(7) {
        @std-content();
    }
}